In [77]:
import pandas as pd

In [78]:
df_old = pd.read_csv('ipl_match_ball_by_ball_data.csv')

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\3341691396.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_old = pd.read_csv('ipl_match_ball_by_ball_data.csv')

In [79]:
df_2023 = pd.read_csv('ipl_match_ball_by_ball_data_2023.csv')

In [80]:
df_old.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df_2023.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.1,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.2,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.3,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.4,Chennai Super Kings,Gujarat Titans,RD Gaikwad,DP Conway,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1359475,2023,2023-03-31,"Narendra Modi Stadium, Ahmedabad",1,0.5,Chennai Super Kings,Gujarat Titans,DP Conway,RD Gaikwad,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df = pd.concat([df_old,df_2023],ignore_index = True, sort = False)

In [83]:
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230077,1359491,2023,2023-04-12,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.4,Chennai Super Kings,Rajasthan Royals,MS Dhoni,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230078,1359491,2023,2023-04-12,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.5,Chennai Super Kings,Rajasthan Royals,MS Dhoni,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230079,1359491,2023,2023-04-12,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.6,Chennai Super Kings,Rajasthan Royals,MS Dhoni,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230080,1359491,2023,2023-04-12,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.7,Chennai Super Kings,Rajasthan Royals,RA Jadeja,MS Dhoni,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230081,1359491,2023,2023-04-12,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.8,Chennai Super Kings,Rajasthan Royals,MS Dhoni,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
df.drop(['season','start_date','striker','non_striker','bowler','penalty','wicket_type','other_wicket_type','other_player_dismissed'],axis='columns',inplace=True)

In [85]:
df.head()

,match_id,venue,innings,ball,batting_team,bowling_team,runs_off_bat,extras,wides,noballs,byes,legbyes,player_dismissed
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,NaN,NaN,NaN,1.0,NaN
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,NaN,NaN,NaN,NaN,NaN
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1.0,NaN,NaN,NaN,NaN
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,NaN,NaN,NaN,NaN,NaN
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,NaN,NaN,NaN,NaN,NaN

In [86]:
df[['wides','noballs','byes','legbyes','player_dismissed']] = df[['wides','noballs','byes','legbyes','player_dismissed']].fillna(0)
df.head()

,match_id,venue,innings,ball,batting_team,bowling_team,runs_off_bat,extras,wides,noballs,byes,legbyes,player_dismissed
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0.0,0.0,0.0,1.0,0
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,0.0,0.0,0.0,0.0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1.0,0.0,0.0,0.0,0
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,0.0,0.0,0.0,0.0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,0.0,0.0,0.0,0.0,0

In [87]:
df['runs_scored'] = df['runs_off_bat'] + df['extras']

In [88]:
df.head()

,match_id,venue,innings,ball,batting_team,bowling_team,runs_off_bat,extras,wides,noballs,byes,legbyes,player_dismissed,runs_scored
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0.0,0.0,0.0,1.0,0,1
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,0.0,0.0,0.0,0.0,0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1.0,0.0,0.0,0.0,0,1
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,0.0,0.0,0.0,0.0,0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,0.0,0.0,0.0,0.0,0,0

In [89]:
df.drop(['runs_off_bat','extras','wides','noballs','byes','legbyes'],axis='columns',inplace=True)

In [90]:
df.head()

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0

In [91]:
df.head()

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0

In [92]:
df

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
...,...,...,...,...,...,...,...,...
230077,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.4,Chennai Super Kings,Rajasthan Royals,0,6
230078,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.5,Chennai Super Kings,Rajasthan Royals,0,6
230079,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.6,Chennai Super Kings,Rajasthan Royals,0,1
230080,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.7,Chennai Super Kings,Rajasthan Royals,0,1
230081,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.8,Chennai Super Kings,Rajasthan Royals,0,1

In [93]:
df_new = df[df['innings']==1]
df_new

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
...,...,...,...,...,...,...,...,...
229950,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.2,Rajasthan Royals,Chennai Super Kings,0,2
229951,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.3,Rajasthan Royals,Chennai Super Kings,0,0
229952,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.4,Rajasthan Royals,Chennai Super Kings,0,1
229953,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.5,Rajasthan Royals,Chennai Super Kings,JO Holder,0
229954,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.6,Rajasthan Royals,Chennai Super Kings,A Zampa,1

In [94]:
df_new['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [95]:
df_new.loc[(df_new.batting_team == 'Deccan Chargers'),'batting_team']='Sunrisers Hyderabad'
df_new.loc[(df_new.batting_team == 'Kings XI Punjab'),'batting_team']='Punjab Kings'
df_new.loc[(df_new.batting_team == 'Delhi Daredevils'),'batting_team']='Delhi Capitals'

df_new['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Punjab Kings',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions', 'Rising Pune Supergiant', 'Lucknow Super Giants',
       'Gujarat Titans'], dtype=object)

In [96]:
df_new.loc[(df_new.bowling_team == 'Deccan Chargers'),'bowling_team']='Sunrisers Hyderabad'
df_new.loc[(df_new.bowling_team == 'Kings XI Punjab'),'bowling_team']='Punjab Kings'
df_new.loc[(df_new.bowling_team == 'Delhi Daredevils'),'bowling_team']='Delhi Capitals'

df_new['bowling_team'].unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad', 'Pune Warriors',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Gujarat Titans', 'Lucknow Super Giants'],
      dtype=object)

In [97]:
teams = ['Kolkata Knight Riders','Chennai Super Kings','Rajasthan Royals','Mumbai Indians','Punjab Kings',
          'Delhi Capitals','Gujarat Titans','Lucknow Super Giants','Sunrisers Hyderabad','Royal Challengers Bangalore']

In [98]:
df_new = df_new[df_new['batting_team'].isin(teams)]
df_new = df_new[df_new['bowling_team'].isin(teams)]

In [99]:
df_new['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Punjab Kings',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Lucknow Super Giants', 'Gujarat Titans'], dtype=object)

In [100]:
df_new

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
...,...,...,...,...,...,...,...,...
229950,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.2,Rajasthan Royals,Chennai Super Kings,0,2
229951,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.3,Rajasthan Royals,Chennai Super Kings,0,0
229952,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.4,Rajasthan Royals,Chennai Super Kings,0,1
229953,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.5,Rajasthan Royals,Chennai Super Kings,JO Holder,0
229954,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",1,19.6,Rajasthan Royals,Chennai Super Kings,A Zampa,1

In [101]:
# Considering these 8 parameters for final score prediction
# batting_team
# bowling team
# venue
# current score
# balls left
# wickets left
# current run rate
# runs scored in last five overs

In [102]:
df_new.isnull().sum()

match_id            0
venue               0
innings             0
ball                0
batting_team        0
bowling_team        0
player_dismissed    0
runs_scored         0
dtype: int64

In [103]:
df_new['venue'].value_counts()

Eden Gardens                                                             8657
Wankhede Stadium                                                         7933
M Chinnaswamy Stadium                                                    6746
Feroz Shah Kotla                                                         6386
Dubai International Cricket Stadium                                      5729
MA Chidambaram Stadium, Chepauk                                          5484
Sawai Mansingh Stadium                                                   5338
Rajiv Gandhi International Stadium, Uppal                                5160
Wankhede Stadium, Mumbai                                                 4003
Punjab Cricket Association Stadium, Mohali                               3884
Sheikh Zayed Stadium                                                     3570
Sharjah Cricket Stadium                                                  3482
Dr DY Patil Sports Academy, Mumbai                                       2503
Brabourne Stadium, Mumbai                                                2102
Rajiv Gandhi International Stadium                                       1863
Kingsmead                                                                1858
M.Chinnaswamy Stadium                                                    1761
Arun Jaitley Stadium                                                     1717
Maharashtra Cricket Association Stadium, Pune                            1622
SuperSport Park                                                          1486
MA Chidambaram Stadium, Chepauk, Chennai                                 1485
Sardar Patel Stadium, Motera                                             1484
Maharashtra Cricket Association Stadium                                  1251
Brabourne Stadium                                                        1250
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                      1240
Punjab Cricket Association IS Bindra Stadium                             1228
Dr DY Patil Sports Academy                                               1220
Himachal Pradesh Cricket Association Stadium                             1115
Narendra Modi Stadium, Ahmedabad                                         1108
MA Chidambaram Stadium                                                   1096
Zayed Cricket Stadium, Abu Dhabi                                          995
New Wanderers Stadium                                                     995
Punjab Cricket Association IS Bindra Stadium, Mohali                      972
St George's Park                                                          870
Newlands                                                                  813
Arun Jaitley Stadium, Delhi                                               755
Barabati Stadium                                                          735
JSCA International Stadium Complex                                        716
Holkar Cricket Stadium                                                    715
Shaheed Veer Narayan Singh International Stadium                          614
Eden Gardens, Kolkata                                                     382
Buffalo Park                                                              380
Vidarbha Cricket Association Stadium, Jamtha                              370
De Beers Diamond Oval                                                     368
M Chinnaswamy Stadium, Bengaluru                                          254
OUTsurance Oval                                                           251
Barsapara Cricket Stadium, Guwahati                                       251
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow     247
Rajiv Gandhi International Stadium, Uppal, Hyderabad                      247
Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh          123
Subrata Roy Sahara Stadium                                                122
Name: venue, dtype: int64

In [104]:
df_new.loc[(df_new.venue == 'Eden Gardens, Kolkata'),'venue']='Eden Gardens'
df_new.loc[(df_new.venue == 'Wankhede Stadium, Mumbai'),'venue']='Wankhede Stadium'
df_new.loc[(df_new.venue == 'M Chinnaswamy Stadium'),'venue']='M.Chinnaswamy Stadium'
df_new.loc[(df_new.venue == 'MA Chidambaram Stadium, Chepauk, Chennai'),'venue']='MA Chidambaram Stadium, Chepauk'
df_new.loc[(df_new.venue == 'Rajiv Gandhi International Stadium, Uppal'),'venue']='Rajiv Gandhi International Stadium'
df_new.loc[(df_new.venue == 'Dr DY Patil Sports Academy, Mumbai'),'venue']='Dr DY Patil Sports Academy'
df_new.loc[(df_new.venue == 'Brabourne Stadium, Mumbai'),'venue']='Brabourne Stadium'
df_new.loc[(df_new.venue == 'Feroz Shah Kotla'),'venue']='Arun Jaitley Stadium'
df_new.loc[(df_new.venue == 'Arun Jaitley Stadium, Delhi'),'venue']='Arun Jaitley Stadium'
df_new.loc[(df_new.venue == 'Punjab Cricket Association Stadium, Mohali'),'venue']='Punjab Cricket Association IS Bindra Stadium'
df_new.loc[(df_new.venue == 'Sardar Patel Stadium, Motera'),'venue']='Narendra Modi Stadium'
df_new.loc[(df_new.venue == 'MA Chidambaram Stadium, Chepauk'),'venue']='MA Chidambaram Stadium'
df_new.loc[(df_new.venue == 'Narendra Modi Stadium, Ahmedabad'),'venue']='Narendra Modi Stadium'
df_new.loc[(df_new.venue == 'Punjab Cricket Association IS Bindra Stadium, Mohali'),'venue']='Punjab Cricket Association IS Bindra Stadium'
df_new.loc[(df_new.venue == 'Rajiv Gandhi International Stadium, Uppal, Hyderabad'),'venue']='Rajiv Gandhi International Stadium'
df_new.loc[(df_new.venue == 'Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh'),'venue']='Punjab Cricket Association IS Bindra Stadium'
df_new.loc[(df_new.venue == 'M Chinnaswamy Stadium, Bengaluru'),'venue']='M.Chinnaswamy Stadium'
df_new.loc[(df_new.venue == 'Barsapara Cricket Stadium, Guwahati'),'venue']='Barsapara Cricket Stadium'
df_new.loc[(df_new.venue == 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow'),'venue']='Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium'

In [105]:
df

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
2,335982,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1
3,335982,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
4,335982,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0
...,...,...,...,...,...,...,...,...
230077,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.4,Chennai Super Kings,Rajasthan Royals,0,6
230078,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.5,Chennai Super Kings,Rajasthan Royals,0,6
230079,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.6,Chennai Super Kings,Rajasthan Royals,0,1
230080,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.7,Chennai Super Kings,Rajasthan Royals,0,1
230081,1359491,"MA Chidambaram Stadium, Chepauk, Chennai",2,19.8,Chennai Super Kings,Rajasthan Royals,0,1

In [106]:
df_new['venue'].value_counts()

Wankhede Stadium                                                11936
Eden Gardens                                                     9039
Arun Jaitley Stadium                                             8858
M.Chinnaswamy Stadium                                            8761
MA Chidambaram Stadium                                           8065
Rajiv Gandhi International Stadium                               7270
Punjab Cricket Association IS Bindra Stadium                     6207
Dubai International Cricket Stadium                              5729
Sawai Mansingh Stadium                                           5338
Dr DY Patil Sports Academy                                       3723
Sheikh Zayed Stadium                                             3570
Sharjah Cricket Stadium                                          3482
Brabourne Stadium                                                3352
Narendra Modi Stadium                                            2592
Kingsmead                                                        1858
Maharashtra Cricket Association Stadium, Pune                    1622
SuperSport Park                                                  1486
Maharashtra Cricket Association Stadium                          1251
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium              1240
Himachal Pradesh Cricket Association Stadium                     1115
Zayed Cricket Stadium, Abu Dhabi                                  995
New Wanderers Stadium                                             995
St George's Park                                                  870
Newlands                                                          813
Barabati Stadium                                                  735
JSCA International Stadium Complex                                716
Holkar Cricket Stadium                                            715
Shaheed Veer Narayan Singh International Stadium                  614
Buffalo Park                                                      380
Vidarbha Cricket Association Stadium, Jamtha                      370
De Beers Diamond Oval                                             368
OUTsurance Oval                                                   251
Barsapara Cricket Stadium                                         251
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium      247
Subrata Roy Sahara Stadium                                        122
Name: venue, dtype: int64

In [107]:
stadiums = ['Wankhede Stadium','Eden Gardens','Arun Jaitley Stadium','M.Chinnaswamy Stadium','MA Chidambaram Stadium','Narendra Modi Stadium',
           'Rajiv Gandhi International Stadium','Punjab Cricket Association IS Bindra Stadium','Sawai Mansingh Stadium',
           'Himachal Pradesh Cricket Association Stadium','Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium','Barsapara Cricket Stadium']

In [108]:
df_new = df_new[df_new['venue'].isin(stadiums)]
df_new['venue'].value_counts()

Wankhede Stadium                                                11936
Eden Gardens                                                     9039
Arun Jaitley Stadium                                             8858
M.Chinnaswamy Stadium                                            8761
MA Chidambaram Stadium                                           8065
Rajiv Gandhi International Stadium                               7270
Punjab Cricket Association IS Bindra Stadium                     6207
Sawai Mansingh Stadium                                           5338
Narendra Modi Stadium                                            2592
Himachal Pradesh Cricket Association Stadium                     1115
Barsapara Cricket Stadium                                         251
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium      247
Name: venue, dtype: int64

In [109]:
df_new['current_score'] = df_new.groupby('match_id').cumsum()['runs_scored']

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\3094774792.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_new['current_score'] = df_new.groupby('match_id').cumsum()['runs_scored']
C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\3094774792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['current_score'] = df_new.groupby('match_id').cumsum()['runs_scored']

In [110]:
df_new

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2
...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,0,2,173
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,0,0,173
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,0,1,174
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,JO Holder,0,174
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,A Zampa,1,175

In [111]:
df_new['over'] = df_new['ball'].apply(lambda x:str(x).split(".")[0])
df_new['ball_no'] = df_new['ball'].apply(lambda x:str(x).split(".")[1])
df_new

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\2655900833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['over'] = df_new['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\2655900833.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['ball_no'] = df_new['ball'].apply(lambda x:str(x).split(".")[1])

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score,over,ball_no
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5
...,...,...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,0,2,173,19,2
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,0,0,173,19,3
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,0,1,174,19,4
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,JO Holder,0,174,19,5
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,A Zampa,1,175,19,6

In [112]:
df_new['balls_bowled'] = (df_new['over'].astype('int')*6) + df_new['ball_no'].astype('int')
df_new

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\213233043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['balls_bowled'] = (df_new['over'].astype('int')*6) + df_new['ball_no'].astype('int')

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score,over,ball_no,balls_bowled
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1,1
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2,2
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3,3
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4,4
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,0,2,173,19,2,116
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,0,0,173,19,3,117
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,0,1,174,19,4,118
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,JO Holder,0,174,19,5,119
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,A Zampa,1,175,19,6,120

In [113]:
df_new['balls_left'] = 120-df_new['balls_bowled']
df_new['balls_left'] = df_new['balls_left'].apply(lambda x:0 if x<0 else x)
df_new

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\4128353955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['balls_left'] = 120-df_new['balls_bowled']
C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\4128353955.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['balls_left'] = df_new['balls_left'].apply(lambda x:0 if x<0 else x)

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score,over,ball_no,balls_bowled,balls_left
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1,1,119
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2,2,118
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3,3,117
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4,4,116
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,0,2,173,19,2,116,4
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,0,0,173,19,3,117,3
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,0,1,174,19,4,118,2
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,JO Holder,0,174,19,5,119,1
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,A Zampa,1,175,19,6,120,0

In [114]:
df_new['player_dismissed'] = df_new['player_dismissed'].apply(lambda x:0 if x==0 else 1)
df_new

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\50189128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['player_dismissed'] = df_new['player_dismissed'].apply(lambda x:0 if x==0 else 1)

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score,over,ball_no,balls_bowled,balls_left
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1,1,119
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2,2,118
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3,3,117
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4,4,116
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,0,2,173,19,2,116,4
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,0,0,173,19,3,117,3
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,0,1,174,19,4,118,2
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,1,0,174,19,5,119,1
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,1,1,175,19,6,120,0

In [115]:
df_new['player_dismissed'] = df_new['player_dismissed'].astype('int')
df_new['player_dismissed'] = df_new.groupby('match_id').cumsum()['player_dismissed']
df_new['wickets_left'] = 10 - df_new['player_dismissed']

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\967374192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['player_dismissed'] = df_new['player_dismissed'].astype('int')
C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\967374192.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_new['player_dismissed'] = df_new.groupby('match_id').cumsum()['player_dismissed']
C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\967374192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['player_dismissed'] = df_new.groupby('match_id').cumsum()['player_dismissed']
C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\967374192.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['wickets_left'] = 10 - df_new['player_dismissed']

In [116]:
df_new

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1,1,119,10
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2,2,118,10
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3,3,117,10
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4,4,116,10
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,6,2,173,19,2,116,4,4
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,6,0,173,19,3,117,3,4
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,6,1,174,19,4,118,2,4
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,7,0,174,19,5,119,1,3
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,8,1,175,19,6,120,0,2

In [117]:
df_new['current_run_rate'] = (df_new['current_score']*6)/df_new['balls_bowled']
df_new

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\985544776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['current_run_rate'] = (df_new['current_score']*6)/df_new['balls_bowled']

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1,1,119,10,6.000000
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2,2,118,10,3.000000
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3,3,117,10,4.000000
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4,4,116,10,3.000000
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5,5,115,10,2.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,6,2,173,19,2,116,4,4,8.948276
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,6,0,173,19,3,117,3,4,8.871795
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,6,1,174,19,4,118,2,4,8.847458
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,7,0,174,19,5,119,1,3,8.773109
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,8,1,175,19,6,120,0,2,8.750000

In [118]:
groups = df_new.groupby('match_id')
match_ids = df_new['match_id'].unique()
last_five = []

for id in match_ids:
  last_five.extend(groups.get_group(id).rolling(window = 30).sum()['runs_scored'].values.tolist())

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\1050341852.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'venue'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window = 30).sum()['runs_scored'].values.tolist())

In [119]:
df_new['last_five'] = last_five
df_new

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\1974702770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['last_five'] = last_five

,match_id,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate,last_five
0,335982,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1,1,119,10,6.000000,NaN
1,335982,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2,2,118,10,3.000000,NaN
2,335982,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3,3,117,10,4.000000,NaN
3,335982,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4,4,116,10,3.000000,NaN
4,335982,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5,5,115,10,2.400000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229950,1359491,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,6,2,173,19,2,116,4,4,8.948276,40.0
229951,1359491,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,6,0,173,19,3,117,3,4,8.871795,39.0
229952,1359491,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,6,1,174,19,4,118,2,4,8.847458,39.0
229953,1359491,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,7,0,174,19,5,119,1,3,8.773109,39.0
229954,1359491,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,8,1,175,19,6,120,0,2,8.750000,38.0

In [120]:
final_df = df_new.groupby('match_id').sum()['runs_scored'].reset_index().merge(df_new,on='match_id')

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\2631141439.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_df = df_new.groupby('match_id').sum()['runs_scored'].reset_index().merge(df_new,on='match_id')

In [121]:
final_df

,match_id,runs_scored_x,venue,innings,ball,batting_team,bowling_team,player_dismissed,runs_scored_y,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate,last_five
0,335982,222,M.Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,1,1,119,10,6.000000,NaN
1,335982,222,M.Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,1,0,2,2,118,10,3.000000,NaN
2,335982,222,M.Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,2,0,3,3,117,10,4.000000,NaN
3,335982,222,M.Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,4,4,116,10,3.000000,NaN
4,335982,222,M.Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,0,2,0,5,5,115,10,2.400000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69674,1359491,175,MA Chidambaram Stadium,1,19.2,Rajasthan Royals,Chennai Super Kings,6,2,173,19,2,116,4,4,8.948276,40.0
69675,1359491,175,MA Chidambaram Stadium,1,19.3,Rajasthan Royals,Chennai Super Kings,6,0,173,19,3,117,3,4,8.871795,39.0
69676,1359491,175,MA Chidambaram Stadium,1,19.4,Rajasthan Royals,Chennai Super Kings,6,1,174,19,4,118,2,4,8.847458,39.0
69677,1359491,175,MA Chidambaram Stadium,1,19.5,Rajasthan Royals,Chennai Super Kings,7,0,174,19,5,119,1,3,8.773109,39.0
69678,1359491,175,MA Chidambaram Stadium,1,19.6,Rajasthan Royals,Chennai Super Kings,8,1,175,19,6,120,0,2,8.750000,38.0

In [122]:
final_df=final_df[['batting_team','bowling_team','venue','current_score','balls_left','wickets_left','current_run_rate','last_five','runs_scored_x']]
final_df

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,current_run_rate,last_five,runs_scored_x
0,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,1,119,10,6.000000,NaN,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,1,118,10,3.000000,NaN,222
2,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,2,117,10,4.000000,NaN,222
3,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,2,116,10,3.000000,NaN,222
4,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,2,115,10,2.400000,NaN,222
...,...,...,...,...,...,...,...,...,...
69674,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,173,4,4,8.948276,40.0,175
69675,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,173,3,4,8.871795,39.0,175
69676,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,174,2,4,8.847458,39.0,175
69677,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,174,1,3,8.773109,39.0,175
69678,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,175,0,2,8.750000,38.0,175

In [123]:
final_df.dropna(inplace=True)
final_df

C:\Users\dsrat\AppData\Local\Temp\ipykernel_27384\1726244793.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,current_run_rate,last_five,runs_scored_x
29,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,59,92,10,12.642857,59.0,222
30,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,60,91,10,12.413793,59.0,222
31,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,60,90,10,12.000000,59.0,222
32,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,61,89,10,11.806452,59.0,222
33,Kolkata Knight Riders,Royal Challengers Bangalore,M.Chinnaswamy Stadium,61,88,9,11.437500,59.0,222
...,...,...,...,...,...,...,...,...,...
69674,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,173,4,4,8.948276,40.0,175
69675,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,173,3,4,8.871795,39.0,175
69676,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,174,2,4,8.847458,39.0,175
69677,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,174,1,3,8.773109,39.0,175
69678,Rajasthan Royals,Chennai Super Kings,MA Chidambaram Stadium,175,0,2,8.750000,38.0,175

In [124]:
final_df = final_df.sample(final_df.shape[0])
final_df.head()

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,current_run_rate,last_five,runs_scored_x
51961,Delhi Capitals,Sunrisers Hyderabad,Arun Jaitley Stadium,97,38,7,7.097561,50.0,187
3924,Royal Challengers Bangalore,Punjab Kings,Punjab Cricket Association IS Bindra Stadium,138,1,3,6.957983,36.0,143
53903,Sunrisers Hyderabad,Kolkata Knight Riders,Eden Gardens,62,78,10,8.857143,46.0,181
37244,Rajasthan Royals,Royal Challengers Bangalore,Narendra Modi Stadium,114,22,5,6.979592,30.0,130
12627,Chennai Super Kings,Punjab Kings,Punjab Cricket Association IS Bindra Stadium,77,54,8,7.000000,46.0,188

In [125]:
X = final_df.drop(columns=['runs_scored_x'])
y = final_df['runs_scored_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [126]:
X_train

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,current_run_rate,last_five
63493,Royal Challengers Bangalore,Delhi Capitals,Narendra Modi Stadium,62,66,7,6.888889,32.0
1422,Kolkata Knight Riders,Chennai Super Kings,MA Chidambaram Stadium,74,56,5,6.937500,13.0
48486,Punjab Kings,Royal Challengers Bangalore,M.Chinnaswamy Stadium,69,73,7,8.808511,38.0
17900,Royal Challengers Bangalore,Delhi Capitals,M.Chinnaswamy Stadium,139,10,4,7.581818,46.0
36556,Mumbai Indians,Royal Challengers Bangalore,M.Chinnaswamy Stadium,54,80,9,8.100000,41.0
...,...,...,...,...,...,...,...,...
45297,Sunrisers Hyderabad,Delhi Capitals,Rajiv Gandhi International Stadium,49,78,9,7.000000,37.0
57909,Mumbai Indians,Delhi Capitals,Arun Jaitley Stadium,101,33,7,6.965517,28.0
3539,Chennai Super Kings,Punjab Kings,MA Chidambaram Stadium,155,15,6,8.857143,39.0
11393,Rajasthan Royals,Kolkata Knight Riders,Eden Gardens,57,78,10,8.142857,49.0
4027,Kolkata Knight Riders,Delhi Capitals,Eden Gardens,98,27,7,6.322581,26.0

In [127]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error

In [128]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','venue'])
]
,remainder='passthrough')

In [129]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=10))
])

In [130]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

c:\Python 39\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9562999289495442
3.3038450005461866

In [131]:
X_test

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,current_run_rate,last_five
47043,Punjab Kings,Mumbai Indians,Wankhede Stadium,132,53,8,11.820896,57.0
20094,Punjab Kings,Mumbai Indians,Punjab Cricket Association IS Bindra Stadium,90,35,7,6.352941,36.0
15145,Sunrisers Hyderabad,Delhi Capitals,Rajiv Gandhi International Stadium,165,6,5,8.684211,56.0
12534,Royal Challengers Bangalore,Mumbai Indians,M.Chinnaswamy Stadium,96,26,8,6.127660,41.0
50601,Delhi Capitals,Kolkata Knight Riders,Arun Jaitley Stadium,89,56,9,8.343750,34.0
...,...,...,...,...,...,...,...,...
58674,Rajasthan Royals,Delhi Capitals,Sawai Mansingh Stadium,176,11,6,9.688073,41.0
45547,Kolkata Knight Riders,Royal Challengers Bangalore,Eden Gardens,68,79,7,9.951220,43.0
50702,Sunrisers Hyderabad,Rajasthan Royals,Sawai Mansingh Stadium,48,78,9,6.857143,31.0
11079,Chennai Super Kings,Delhi Capitals,MA Chidambaram Stadium,79,17,2,4.601942,16.0
37222,Rajasthan Royals,Royal Challengers Bangalore,Narendra Modi Stadium,89,44,5,7.026316,27.0

In [132]:
pipe.predict(X_test)

array([202.50061, 167.60095, 175.71207, ..., 150.15529, 112.00975,
       128.15048], dtype=float32)

In [133]:
pipe.score(X_test,y_test)

0.9562999289495442

In [134]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [135]:
pipe1 = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',Ridge(alpha=0.0001,random_state=10))
])

In [136]:
pipe1.fit(X_train,y_train)
y_pred1 = pipe1.predict(X_test)
print(r2_score(y_test,y_pred1))
print(mean_absolute_error(y_test,y_pred1))

c:\Python 39\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.619944638090545
13.449381317656403

In [137]:
pipe1.score(X_test,y_test)

0.619944638090545

In [138]:
from sklearn.ensemble import RandomForestClassifier

In [139]:
pipe2 = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',RandomForestClassifier(n_estimators=40))
])

In [140]:
pipe2.fit(X_train,y_train)
y_pred2 = pipe1.predict(X_test)
print(r2_score(y_test,y_pred2))
print(mean_absolute_error(y_test,y_pred2))

c:\Python 39\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.619944638090545
13.449381317656403

In [141]:
from sklearn.svm import SVC

In [142]:
pipe3 = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',SVC(C=10,gamma=10,kernel='linear'))
])

In [143]:
pipe3.fit(X_train,y_train)
y_pred3 = pipe3.predict(X_test)
print(r2_score(y_test,y_pred3))
print(mean_absolute_error(y_test,y_pred3))

c:\Python 39\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9015064690287293
2.496900632396218

In [144]:
from sklearn import tree

In [145]:
pipe4 = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',tree.DecisionTreeClassifier())
])

In [146]:
pipe4.fit(X_train,y_train)
y_pred4 = pipe4.predict(X_test)
print(r2_score(y_test,y_pred4))
print(mean_absolute_error(y_test,y_pred4))

c:\Python 39\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9360016621013059
1.4472481372487633

Highest Accuracy is obtained in XGBRegressor

In [147]:
# For 20th match of IPL 2023 happened between RCB and DC
X_test1 = pd.DataFrame([['Royal Challengers Bangalore','Delhi Capitals','M.Chinnaswamy Stadium','74','65','9','8.07','37']], columns = X_train.columns)
X_test1

,batting_team,bowling_team,venue,current_score,balls_left,wickets_left,current_run_rate,last_five
0,Royal Challengers Bangalore,Delhi Capitals,M.Chinnaswamy Stadium,74,65,9,8.07,37

In [148]:
pipe.predict(X_test1)

array([179.33835], dtype=float32)

In [149]:
import pickle

In [150]:
pickle.dump(pipe,open('model.pkl','wb'))